img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-color: white;
    
}
ul{
    list-style-type: none;
} 

body{
    background-color: rgb(9, 147, 11);
}
h5{
    margin:auto;
    margin-top: 10px;
    color: white;
}
.card{
    width: 	400px;
    height: 400px;
    background: black;
    
}